@model Membresia

@{
    ViewData["Title"] = "Administrar Membresía";
}
<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="mb-3">
        <label>ID de la Membresía :</label>
        <input asp-for="idMembresia" class="form-control" placeholder="ID de la membresía" disabled>
        <label>Con el ID se puede consultar la membresía dentro de la pantalla de membresías</label>
    </div>
    <div class="mb-3">
        <label>Tipo: @Model.nombreMembresia</label>
    </div>
<div class="mb-3">
        <label>Duración: @Model.duracionMembresia</label>
    </div>
    
    <div class="mb-3">
        <label>Precio: @Model.precioMembresia</label>
    </div>    

    <div class="row col-6">
@*         <a asp-action="Renovar" asp-route-idMembresia="idMembresia" class="btn btn-danger">Renovar Membresía<i class="bi bi-arrow-repeat"></i></a> *@
@*         <a asp-action="Cancelar" asp-route-idMembresia="idMembresia" class="btn btn-danger">Cancelar Membresía<i class="bi bi-x-square-fill"></i></a> *@
        <div class="col-6 col-md-6">
            <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>
</form>

<p>Esta es la vista para ver la membresía del miembro</p>