@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
  <img src="/IMG/ImagenGym3.jpg" class="img-fluid" alt="Responsive image">
</div>

<div class="container mt-4">
  <h1>Nuestro Gimnasio</h1>
  <p>Bienvenidos al Gimnasio "Tu Salud Total". Somos un centro de acondicionamiento físico dedicado a ayudarte a alcanzar tus metas de salud y bienestar. Nuestra misión es proporcionar un ambiente amigable y motivador donde puedas mejorar tu estado físico y sentirte mejor contigo mismo.</p>
</div>

<div class="container mt-4">
  <h2>Nuestros Servicios</h2>
  <ul>
    <li>Entrenamiento personalizado con instructores calificados.</li>
    <li>Amplia variedad de clases de fitness, incluyendo yoga, pilates, spinning y más.</li>
    <li>Equipo de alta calidad y modernas instalaciones.</li>
    <li>Asesoramiento nutricional para una dieta saludable.</li>
    <li>Horarios flexibles para adaptarse a tu rutina.</li>
  </ul>
</div>

<div class="container mt-4">
  <h2>Horario de Atención</h2>
  <p>Nuestro gimnasio está abierto de lunes a viernes de 6:00 AM a 10:00 PM y los sábados de 8:00 AM a 4:00 PM. Estamos cerrados los domingos y feriados.</p>
</div>

<div class="container mt-4">
  <h2>Ubicación</h2>
  <p>Estamos ubicados en el centro de la ciudad, en la Calle Principal #123. Contamos con un amplio estacionamiento para tu comodidad.</p>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6 mb-4 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Membresía de 30 Días: </h5>
          <p class="card-text">Acceso completo durante un mes a un precio asequible.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pago por Día: </h5>
          <p class="card-text">Flexibilidad para pagar y usar el gimnasio en las ocasiones que desees.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="card-group">
    <div class="card">
      <img src="/IMG/ImagenGym.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">¡Potencia tu salud!</h5>
        <p class="card-text">En nuestro gimnasio, te ayudamos a mejorar tu salud física. Aumenta tu resistencia, fortalece tus músculos y luce tu mejor versión. ¡Con nosotros, el bienestar es lo primero!</p>
      </div>
    </div>
    <div class="card">
      <img src="/IMG/ImagenGym1.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">¡Objetivos cumplidos!</h5>
        <p class="card-text">En nuestro gimnasio, personalizamos tu entrenamiento. Ya sea ganar músculo, perder peso o aumentar tu energía, ¡nuestros equipos de vanguardia y entrenadores expertos te guiarán hacia tus metas!</p>
      </div>
    </div>
    <div class="card">
      <img src="/IMG/ImagenGym2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">¡Felicidad y energía!</h5>
        <p class="card-text">En nuestro gimnasio, el ejercicio libera endorfinas para aliviar el estrés y mejorar tu estado de ánimo. Aquí, cuidamos de tu bienestar físico y mental. ¡Descubre una versión más saludable y feliz de ti mismo!</p>
      </div>
    </div>
  </div>
</div>





