<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MVC_Gimnsaio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapMind.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/MVC_Gimnsaio.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/IMG/ImagenGymLogo.jpg" alt="MVC_Gimnasio" width="100"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Membresía" asp-action="Index">Membresía</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Miembro" asp-action="Index">Miembro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Pago" asp-action="Index">Pago</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Visita" asp-action="Index">Visita</a>
                    </li>
                </ul>
            </div>
            <span id="nombreUsuario"></span>
                <!-- Example single danger button -->
                <div class="dropdown-center">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-circle-user"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick="ClearSessionStorage()" asp-controller="Usuario" asp-action="SignIn">Cerrar Sesión</a></li>
@*                      <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li> *@
                    </ul>
                </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        <div class="card text-center">
          <div class="card-header">
            Para más información, contáctanos:
          </div>
          <div class="card-body">
            <h5 class="card-title">Teléfono: (123) 456-7890</h5>
            <p class="card-text">Correo electrónico: info@tusaludtotalgym.com</p>
          </div>
          <div class="card-footer text-body-secondary">
            2023
          </div>
        </div>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/acf261d014.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)

    <script>
        // Esperar a que el DOM esté listo
        document.addEventListener('DOMContentLoaded', function () {
            // Recuperar el nombre de usuario del session storage
            var username = sessionStorage.getItem('Username');
            console.log("Username: " + username);
            // Si existe el nombre de usuario, mostrarlo en el elemento con id 'nombreUsuario'
            if (username) {

                document.getElementById('nombreUsuario').innerHTML = "Bienvenido " + username + ' a su gimnasio preferido <i class="fa-solid fa-dumbbell"></i>!';

            }
        });
    </script>
</body>
</html>